/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root{
        --base-black: #000000;
        --base-white: #ffffff;
        --filter-use:#ffffff;
        --base-black-opacity: rgba(0,0,0,0.5);
        --text-title:#ffffff;
        --base-1d:#1D1D1D;
        --base-menu-aplications:#1D1D1D;
        --base-oa:#0A0A0A;
        --text-subtitle:#ffffff;
        --border-menu:#FFFFFF;
        --color-select-aplication:#000000;
        --base-6a:#6a6a6a;
        --base-cf:#cfcfcf;
        --base-67:#000000;
        --base-2e:#2E2E2E;       
        --base-bg-cf:#cfcfcf; 
        --base-menu-mobile-0a:#0a0a0a;
        --background-menu-catalogo:#1f1f1f;
        --btn-filter:#1f1f1f;
        --bg-filter-options:#1f1f1f;
        --text-clor-filter-base:#d1d1d1;
        --text-cf:#CFCFCF;
        --text-filter-aplicate:#3E3E3E;
        --dorado:transparent;
        --bg-line:#858585;
        --text-selected-filter:#3E3E3E;
      }
      .theme-arko{
        --bg-line:#B7B7B7;
        --text-selected-filter:#FFFFFF;
        --text-filter-aplicate:#FFFFFF;
        --dorado:#D9CEA8;
        --filter-use:#494949;
        --base-black: #FFFFFF;
        --bg-filter-options:#EEEEEE;
        --text-clor-filter-base:#676767;
        --base-white: #000000;
        --base-menu-aplications:#FFFFFF;
        --base-black-opacity: rgba(255,255,255,0.5);
        --text-title:#373737;
        --base-1d:#DEDEDE;
        --base-oa:#CACACA;
        --text-subtitle:#000000;
        --border-menu:#000000;
        --color-select-aplication:#373737;
        --base-6a:#ffffff;
        --base-cf:#595959;
        --base-67:#676767;
        --base-2e:#f0f0f0;
        --base-bg-cf:#8b8b8b; 
        --base-menu-mobile-0a:#ffffff;
        --background-menu-catalogo:#dadada;
        --btn-filter:#ffffff;
        --text-cf:#646464;
    }
}

@font-face {
    font-family: monserrat;
    src: url("./assets/fonts/Montserrat_Regular.ttf");
  }
@font-face {
    font-family: monserrat_bold;
    src: url("./assets/fonts/Montserrat_Bold.otf");
  }
@font-face {
    font-family: monserrat_semibold;
    src: url("./assets/fonts/Montserrat_SemiBold.otf");
  }
@font-face {
    font-family: monserrat_light;
    src: url("./assets/fonts/Montserrat_Light.ttf");
  }
@font-face {
    font-family: gotham;
    src: url("./assets/fonts/Gotham_Bold.otf");
  }
@font-face {
    font-family: gotham_light;
    src: url("./assets/fonts/Gotham_Light.ttf");
  }


.gotham{
    font-family:gotham
}
.gotham-light{
    font-family:gotham_light
}
.monserrat-light{
    font-family:monserrat_light
}
.monserrat {
  font-family: monserrat;
}
.moserrat-bold{
    font-family:monserrat_bold
}
.moserrat-semibold{
    font-family:monserrat_semibold
}

